<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block titulo %}
        Read Book
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="hero-header text-center">

        <div class="logo-placeholder">
            <img
                src="{{ url_for('static', filename='css/img/logo.png') }}"
                alt="Read Book"
                class="logo-readbook">        
        </div>

        <h1 class="titulo-readbook">
            READ BOOK
        </h1>

        <p class="slogan">
            Te dá asas (com sua imaginação)
        </p>

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand" href="/">
                Read Book
            </a>

            <div>

                <a class="btn btn-outline-light btn-sm" href="/">
                    Início
                </a>

                <a class="btn btn-outline-light btn-sm" href="/sobre">
                    Sobre
                </a>

                <a class="btn btn-outline-light btn-sm" href="/livros">
                    Livros
                </a>

                <a class="btn btn-outline-light btn-sm" href="/contato">
                    Contato
                </a>

                {% if session.get('admin') %}

                    <a class="btn btn-danger btn-sm" href="/logout">
                        Logout
                    </a>

                {% else %}

                    <a class="btn btn-success btn-sm" href="/login">
                        Login
                    </a>

                {% endif %}

            </div>

        </div>

    </nav>

    <div class="container mt-4">

        {% block conteudo %}
        {% endblock %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script>
    AOS.init({
        duration: 1200,
        once: true
    });
</script>

</body>

</html>