<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Biblioteca MVC{% endblock %}</title>
</head>
<body>

    <nav>
        <a href="/">Início</a> |
        <a href="/sobre">Sobre</a> |
        <a href="/livros">Livros</a> |
        <a href="/contato">Contato</a>

        {% if session.get('admin') %}
            | <a href="/logout">Logout</a>
        {% else %}
            | <a href="/login">Login</a>
        {% endif %}
    </nav>

    <hr>

    {% block conteudo %}
    {% endblock %}

</body>
</html>