{% extends 'base.html' %}

{% block titulo %}
Cadastrar Livro
{% endblock %}

{% block conteudo %}

<h1>Cadastrar Livro</h1>

<form method="POST">

    <label>Título:</label>
    <br>
    <input type="text" name="titulo" required>

    <br><br>

    <label>Autor:</label>
    <br>
    <input type="text" name="autor" required>

    <br><br>

    <label>Categoria:</label>
    <br>
    <input type="text" name="categoria" required>

    <br><br>

    <button type="submit">
        Cadastrar Livro
    </button>

</form>

{% endblock %}