{% extends 'base.html' %}

{% block titulo %}
Livros
{% endblock %}

{% block conteudo %}

<h1>Catálogo de Livros</h1>

{% if session.get('admin') %}
    <a href="/cadastrar-livro">
        <button>Cadastrar Livro</button>
    </a>

    <br><br>
{% endif %}

<form method="GET">

    <input
        type="text"
        name="pesquisa"
        placeholder="Pesquisar por título ou autor"
    >

    <button type="submit">
        Buscar
    </button>

</form>

<br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Categoria</th>

        {% if session.get('admin') %}
            <th>Editar</th>
            <th>Excluir</th>
        {% endif %}
    </tr>

    {% for livro in livros %}
    <tr>

        <td>{{ livro.id }}</td>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.categoria }}</td>

        {% if session.get('admin') %}
        <td>
            <a href="/editar-livro/{{ livro.id }}">
                Editar
            </a>
        </td>

        <td>
            <a
                href="/excluir-livro/{{ livro.id }}"
             onclick="return confirm('Deseja realmente excluir este livro?')">
                Excluir
            </a>
        </td>
        {% endif %}

    </tr>
    {% endfor %}

</table>

{% endblock %}