{% extends 'base.html' %}

{% block titulo %}
Login Administrador
{% endblock %}

{% block conteudo %}

<div class="row justify-content-center">

```
<div class="col-md-5">

    <div class="login-card">

        <div class="text-center mb-4">

            <h2>
                 Área Administrativa
            </h2>

            <p class="text-muted">
                Entre para gerenciar o catálogo da Read Book
            </p>

        </div>

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Usuário
                </label>

                <input
                    type="text"
                    name="usuario"
                    class="form-control"
                    placeholder="Digite seu usuário"
                    required
                >

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Senha
                </label>

                <input
                    type="password"
                    name="senha"
                    class="form-control"
                    placeholder="Digite sua senha"
                    required
                >

            </div>

            <button
                type="submit"
                class="btn btn-login w-100"
            >
                Entrar
            </button>

        </form>

    </div>

</div>
```

</div>

{% endblock %}
