{% extends 'base.html' %}

{% block titulo %}
Sobre
{% endblock %}

{% block conteudo %}

<section class="scroll-section">

    <div class="story-card">

        <h1>Read Book</h1>

        <h3>
            Te dá asas (com sua imaginação)
        </h3>

    </div>

</section>

<section class="scroll-section">

    <div class="story-card">

        <h2>Nossa História</h2>

        <p>
            A Read Book foi criada para organizar
            bibliotecas e facilitar a busca por livros.
        </p>

    </div>

</section>

<section class="scroll-section">

    <div class="story-card">

        <h2>Por que Te Dá Asas?</h2>

        <p>
            Porque um livro pode levar alguém
            para qualquer lugar através da imaginação.
        </p>

    </div>

</section>

<section class="scroll-section">

    <div class="story-card">

        <h2>Funcionalidades</h2>

        <ul>

            <li>Pesquisa</li>

            <li>Cadastro</li>

            <li>Edição</li>

            <li>Exclusão</li>

        </ul>

    </div>

</section>

{% endblock %}